

/* div {
    width: 150px;
    height: 150px;
    margin: 100px auto 0;
    border-radius: 100%;
    box-shadow: 
                
                0 0 0 34px red,
                0 0 0 36px green inset,
                0 0 0 90px blue inset;
} */

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cercle1{
    background: red;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 170px;
}

.cercle2{
    background: green;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    

}

.cercle3{
    background: blue;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    
    
}